{% macro endpoint(value) %}{% if value == "any" %}any{% else %}{{ value.network_address }} {{ value.hostmask }}{% endif %}{% endmacro %}
{% for acl in intent.acls %}
acl name {{ acl.name }} advance
{% for rule in acl.rules %}
 rule {{ rule.sequence }} {{ rule.action }} {{ rule.protocol }} source {{ endpoint(rule.source) }} destination {{ endpoint(rule.destination) }}
{% endfor %}
#
{% endfor %}
